USE [master]
GO
/****** Object:  Database [USADBASE]    Script Date: 26/6/2023 20:31:33 ******/
CREATE DATABASE [USADBASE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USADBASE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\USADBASE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'USADBASE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\USADBASE_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [USADBASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [USADBASE]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 26/6/2023 20:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[id_Departamento] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Departamento] [nvarchar](50) NOT NULL,
	[id_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[id_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escuela]    Script Date: 26/6/2023 20:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escuela](
	[id_Escuela] [int] IDENTITY(1,1) NOT NULL,
	[id_Departamento] [int] NOT NULL,
	[Id_Municipio] [int] NOT NULL,
	[descripcion_Escuela] [nvarchar](50) NOT NULL,
	[id_Persona] [int] NOT NULL,
	[id_Red] [int] NOT NULL,
	[id_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Escuela] PRIMARY KEY CLUSTERED 
(
	[id_Escuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 26/6/2023 20:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[id_Estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[id_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 26/6/2023 20:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[id_Municipio] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Municipio] [nvarchar](50) NOT NULL,
	[id_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Municipio] PRIMARY KEY CLUSTERED 
(
	[id_Municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 26/6/2023 20:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[id_Persona] [int] IDENTITY(1,1) NOT NULL,
	[nombre_Persona] [nvarchar](50) NOT NULL,
	[apellido_Persona] [nvarchar](50) NOT NULL,
	[identidad_Persona] [nvarchar](50) NOT NULL,
	[telefono_Persona] [nvarchar](50) NOT NULL,
	[correo_Persona] [nvarchar](50) NOT NULL,
	[id_Departamento] [int] NOT NULL,
	[id_Tipo_Cargo] [int] NOT NULL,
	[id_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[id_Persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Red]    Script Date: 26/6/2023 20:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Red](
	[id_Red] [int] IDENTITY(1,1) NOT NULL,
	[codigo_Red] [nvarchar](50) NOT NULL,
	[descripcion_Red] [nvarchar](50) NOT NULL,
	[id_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Red] PRIMARY KEY CLUSTERED 
(
	[id_Red] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Cargo]    Script Date: 26/6/2023 20:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Cargo](
	[id_Tipo_Cargo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Tipo_Cargo] [nvarchar](50) NOT NULL,
	[id_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Tipo_Cargo] PRIMARY KEY CLUSTERED 
(
	[id_Tipo_Cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Usuario]    Script Date: 26/6/2023 20:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Usuario](
	[id_Tipo_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_Tipo_Usuario] [nvarchar](50) NOT NULL,
	[id_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Tipo_Usuario] PRIMARY KEY CLUSTERED 
(
	[id_Tipo_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/6/2023 20:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_Persona] [int] NOT NULL,
	[nombre_Usuario] [nvarchar](50) NOT NULL,
	[contrasena_Usuario] [nvarchar](250) NOT NULL,
	[codigo_Recuperacion] [nvarchar](50) NOT NULL,
	[id_Tipo_Usuario] [int] NOT NULL,
	[id_Estado] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamento_Estado] FOREIGN KEY([id_Estado])
REFERENCES [dbo].[Estado] ([id_Estado])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Departamento_Estado]
GO
ALTER TABLE [dbo].[Escuela]  WITH CHECK ADD  CONSTRAINT [FK_Escuela_Departamento] FOREIGN KEY([id_Departamento])
REFERENCES [dbo].[Departamento] ([id_Departamento])
GO
ALTER TABLE [dbo].[Escuela] CHECK CONSTRAINT [FK_Escuela_Departamento]
GO
ALTER TABLE [dbo].[Escuela]  WITH CHECK ADD  CONSTRAINT [FK_Escuela_Estado] FOREIGN KEY([id_Estado])
REFERENCES [dbo].[Estado] ([id_Estado])
GO
ALTER TABLE [dbo].[Escuela] CHECK CONSTRAINT [FK_Escuela_Estado]
GO
ALTER TABLE [dbo].[Escuela]  WITH CHECK ADD  CONSTRAINT [FK_Escuela_Municipio] FOREIGN KEY([Id_Municipio])
REFERENCES [dbo].[Municipio] ([id_Municipio])
GO
ALTER TABLE [dbo].[Escuela] CHECK CONSTRAINT [FK_Escuela_Municipio]
GO
ALTER TABLE [dbo].[Escuela]  WITH CHECK ADD  CONSTRAINT [FK_Escuela_Persona] FOREIGN KEY([id_Persona])
REFERENCES [dbo].[Persona] ([id_Persona])
GO
ALTER TABLE [dbo].[Escuela] CHECK CONSTRAINT [FK_Escuela_Persona]
GO
ALTER TABLE [dbo].[Escuela]  WITH CHECK ADD  CONSTRAINT [FK_Escuela_Red1] FOREIGN KEY([id_Red])
REFERENCES [dbo].[Red] ([id_Red])
GO
ALTER TABLE [dbo].[Escuela] CHECK CONSTRAINT [FK_Escuela_Red1]
GO
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_Municipio_Estado] FOREIGN KEY([id_Estado])
REFERENCES [dbo].[Estado] ([id_Estado])
GO
ALTER TABLE [dbo].[Municipio] CHECK CONSTRAINT [FK_Municipio_Estado]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Departamento] FOREIGN KEY([id_Departamento])
REFERENCES [dbo].[Departamento] ([id_Departamento])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Departamento]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Estado] FOREIGN KEY([id_Estado])
REFERENCES [dbo].[Estado] ([id_Estado])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Estado]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Tipo_Cargo] FOREIGN KEY([id_Tipo_Cargo])
REFERENCES [dbo].[Tipo_Cargo] ([id_Tipo_Cargo])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Tipo_Cargo]
GO
ALTER TABLE [dbo].[Red]  WITH CHECK ADD  CONSTRAINT [FK_Red_Estado1] FOREIGN KEY([id_Estado])
REFERENCES [dbo].[Estado] ([id_Estado])
GO
ALTER TABLE [dbo].[Red] CHECK CONSTRAINT [FK_Red_Estado1]
GO
ALTER TABLE [dbo].[Tipo_Cargo]  WITH CHECK ADD  CONSTRAINT [FK_Tipo_Cargo_Estado] FOREIGN KEY([id_Estado])
REFERENCES [dbo].[Estado] ([id_Estado])
GO
ALTER TABLE [dbo].[Tipo_Cargo] CHECK CONSTRAINT [FK_Tipo_Cargo_Estado]
GO
ALTER TABLE [dbo].[Tipo_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Tipo_Usuario_Estado] FOREIGN KEY([id_Estado])
REFERENCES [dbo].[Estado] ([id_Estado])
GO
ALTER TABLE [dbo].[Tipo_Usuario] CHECK CONSTRAINT [FK_Tipo_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Estado] FOREIGN KEY([id_Estado])
REFERENCES [dbo].[Estado] ([id_Estado])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Persona] FOREIGN KEY([id_Persona])
REFERENCES [dbo].[Persona] ([id_Persona])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Persona]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Tipo_Usuario] FOREIGN KEY([id_Tipo_Usuario])
REFERENCES [dbo].[Tipo_Usuario] ([id_Tipo_Usuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Tipo_Usuario]
GO
USE [master]
GO
